<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
		</div>
	</nav>

<br>
<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully reset a password! New password has been sent to registered email!</div>
					
					
				</div>
				<!-- fail message -->
				<div th:if="${param.notHaveEmail}" >
					<div class="alert alert-danger">This email account does not exist!</div>
					
				</div>
                <div th:if="${param.wrongOldPass}" >
					<div class="alert alert-danger">Old password is wrong!</div>
					
				</div>

                <div th:if="${param.mistakeInNewPass}" >
					<div class="alert alert-danger">New password does not match!</div>
					
				</div>
				<!-- <div th:unless="${condition}"></div>
					<div class="alert alert-danger">Other error!</div>
				</div> -->

				<h1>Change Password</h1>

				<form th:action="@{/changePassword}" method="post" th:object="${user}">
				
                    <div class="form-group">
						<label class="control-label" for="email"> Email </label> <input
							id="email" class="form-control" th:field="*{email}" required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="currPassword"> Current Password </label> <input
							id="currPassword" class="form-control" type="password"
							th:field="*{currPassword}" required autofocus="autofocus" />
					</div>

                    <div class="form-group">
						<label class="control-label" for="newPassword"> New Password </label> <input
							id="newPassword" class="form-control" type="password"
							th:field="*{newPassword}" required autofocus="autofocus" />
					</div>

                    <div class="form-group"></div>
						<label class="control-label" for="confirmPassword"> Confirm New Password </label> <input
							id="confirmPassword" class="form-control" type="password"
							th:field="*{confirmPassword}" required autofocus="autofocus" />
					</div>

                 
					<div class="form-group">
						<button type="submit" class="btn btn-success">Reset Password</button>
						
					</div>
                
                    <span>Logout <a href="/" th:href="@{/logout}">Logout
                        here</a></span>
				</form>
			</div>
		</div>
	</div>
</body>
</html>